* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500, 600;
}

.container {
  background: rgb(233, 244, 250);
}

/** Daniel Clifford's part **/

.first {
  margin: 8rem 1rem 2rem 35rem;
  padding: 2rem;
  background: hsl(263, 55%, 52%);
  border-radius: 10px;
  width: 38rem;
  height: 21rem;
}

.pic1 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.user1 {
  color: hsl(210, 46%, 95%);
  padding-top: 10px;
  padding-left: 5rem;
}

.tag1 {
  color: hsl(0, 0%, 81%, 0.5);
  padding-left: 5rem;
}

.tes1 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: hsl(210, 46%, 95%);
}

.par1 {
  color: hsl(0, 0%, 81%, 0.7);
  letter-spacing: 0.6;
  font-size: small;
}

/** Jonathan Walter's part **/

.second {
  margin: 8rem 1rem 2rem 29rem;
  padding: 2rem;
  background: hsl(217, 19%, 35%);
  border-radius: 10px;
  width: 20rem;
  height: 21rem;
}

.pic2 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.user2 {
  color: hsl(210, 46%, 95%);
  padding-top: 10px;
  padding-left: 5rem;
}

.tag2 {
  color: hsl(0, 0%, 81%, 0.5);
  padding-left: 5rem;
}

.tes2 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: hsl(210, 46%, 95%);
}

.par2 {
  color: hsl(0, 0%, 81%, 0.7);
  letter-spacing: 0.6;
  font-size: small;
}

/** Kira Whittle's part **/

.third {
  margin: 8rem 8rem 2rem 5rem;
  padding: 2rem;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 18rem;
  height: 44rem;
}

.pic3 {
  border-style: solid;
  border-color: hsl(219, 29%, 14%);
  width: 50px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.user3 {
  color: hsl(217, 19%, 35%);
  padding-top: 10px;
  padding-left: 5rem;
}

.tag3 {
  color: rgb(121, 121, 121);
  padding-left: 5rem;
}

.tes3 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: hsl(217, 19%, 35%);
}

.par3 {
  color: rgb(121, 121, 121);
  letter-spacing: 0.6;
  font-size: small;
}

/** Jeanette Harmon's part **/

.fourth {
  margin: 1rem 1rem 8rem 35rem;
  padding: 2rem;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 18rem;
  height: 21rem;
}

.pic4 {
  border-style: solid;
  border-color: hsl(219, 29%, 14%);
  width: 50px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.user4 {
  color: hsl(217, 19%, 35%);
  padding-top: 10px;
  padding-left: 5rem;
}

.tag4 {
  color: rgb(121, 121, 121);
  padding-left: 5rem;
}

.tes4 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: hsl(217, 19%, 35%);
}

.par4 {
  color: rgb(121, 121, 121);
  letter-spacing: 0.6;
  font-size: small;
}

/** Patrick Abrams part **/

.fifth {
  margin: 1rem 8rem 1rem 9rem;
  padding: 2rem;
  background: hsl(219, 29%, 14%);
  border-radius: 10px;
  width: 40rem;
  height: 21rem;
}

.pic5 {
  border-style: solid;
  border-color: hsl(263, 55%, 52%);
  width: 50px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.user5 {
  color: hsl(210, 46%, 95%);
  padding-top: 10px;
  padding-left: 5rem;
}

.tag5 {
  color: hsl(0, 0%, 81%, 0.5);
  padding-left: 5rem;
}

.tes5 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: hsl(210, 46%, 95%);
}

.par5 {
  color: hsl(0, 0%, 81%, 0.7);
  letter-spacing: 0.6;
  font-size: small;
}

/** grid station XD **/

.grid {
  display: grid;
  grid-template-columns: 600px 600px 700px;
  grid-template-rows: 390px 390px;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box5 .";
}

.first {
  grid-area: box1;
}
.second {
  grid-area: box2;
}
.third {
  grid-area: box3;
}
.fourth {
  grid-area: box4;
}
.fifth {
  grid-area: box5;
}

/** the quotation! **/

.quote {
  grid-area: box1;
  margin: 8rem 1rem 1rem 60rem;
}

/** the attribute **/

.attribution {
  grid-area: box5;
  margin-top: 25rem;
  margin-left: 13rem;
  letter-spacing: 1px;
}
